<li id="micropost-<%= micropost.id %>">

<% if current_user?(micropost.user) %>
    <%= link_to "", micropost, method: :delete, data: { confirm: "you sure?" }, class: "delete glyphicon glyphicon-remove",  alt: 'delete the post'  %>
  <% end %>


  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url, class: "img-thumbnail" if micropost.picture? %>
  </span>
  <span class="timestamp">
    posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  
</li>
