/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*html{
	min-width: 100%;
	min-height: 100%;
	color: #aaffff;
}
body {
	width: 99%;
	height: 100%;
	background: rgb(255,112,114); /* Old browsers */
/*	background: -moz-radial-gradient(center, ellipse cover, rgba(255,112,114,1) 0%, rgba(13,13,13,1) 27%, rgba(255,163,163,1) 41%, rgba(10,10,10,1) 53%, rgba(137,88,88,1) 66%, rgba(56,56,56,1) 83%, rgba(27,27,27,1) 100%); /* FF3.6+ */
/*	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,112,114,1)), color-stop(27%,rgba(13,13,13,1)), color-stop(41%,rgba(255,163,163,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(66%,rgba(137,88,88,1)), color-stop(83%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
/*	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,112,114,1) 0%,rgba(13,13,13,1) 27%,rgba(255,163,163,1) 41%,rgba(10,10,10,1) 53%,rgba(137,88,88,1) 66%,rgba(56,56,56,1) 83%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
/*	background: -o-radial-gradient(center, ellipse cover, rgba(255,112,114,1) 0%,rgba(13,13,13,1) 27%,rgba(255,163,163,1) 41%,rgba(10,10,10,1) 53%,rgba(137,88,88,1) 66%,rgba(56,56,56,1) 83%,rgba(27,27,27,1) 100%); /* Opera 12+ */
/*	background: -ms-radial-gradient(center, ellipse cover, rgba(255,112,114,1) 0%,rgba(13,13,13,1) 27%,rgba(255,163,163,1) 41%,rgba(10,10,10,1) 53%,rgba(137,88,88,1) 66%,rgba(56,56,56,1) 83%,rgba(27,27,27,1) 100%); /* IE10+ */
/*	background: radial-gradient(ellipse at center, rgba(255,112,114,1) 0%,rgba(13,13,13,1) 27%,rgba(255,163,163,1) 41%,rgba(10,10,10,1) 53%,rgba(137,88,88,1) 66%,rgba(56,56,56,1) 83%,rgba(27,27,27,1) 100%); /* W3C */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7072', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*}
h1,h2,h3,h4,h5,h6 {
	color: #fff;
}*/

div.row div.col-md-6 {
  width: 50%;
  margin: 0 auto !important;
  float: none !important;
}


