<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "sample app",root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("home"),   root_path %></li>
          <li><%= link_to t("help"),   help_path %></li>
          <li class="dropdown">
            <%# link_to , '#',  class: "dropdown-toggle", :'data-toggle'=>  "dropdown" %>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <%= t("language") %>
            	<span class="caret"></span>
            </a>
            <%#  %>
            <ul class="dropdown-menu">              
              <li><%= link_to "فارسی", params.merge({:locale => :fa}) %></li>
              <li><%= link_to "English", params.merge({:locale => :en}) %></li>
            </ul>
          </li>
          <% if logged_in? %>
          <li><%= link_to t("users"), users_path %></li>
          <li class="dropdown">
            <%# link_to "#{current_user[:name]}", '#',  class: "dropdown-toggle", :'data-toggle'=>  "dropdown" %>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <%= current_user[:name] %>
            	<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("profile"), current_user  %></li>
              <li><%= link_to t("settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("log_out"), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to t("log_in"), login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
